
body {
    margin: 0;
    padding: 0;
}

#noteFormContainer { 
    border: 2px red dotted;
    margin: 10px;
}

header {
    display: flex;
    height: 100px;
    background-color: lightgrey;
    width: 100%;
    justify-content: flex-start;
}

.filters {
    width: 650px;
    display: flex;
    /* margin-bottom: auto; */
    /* align-items: flex-end; */

}

.filter {
    display: flex;
    /* flex: 1 0 100%; */
    margin-top: auto;
    padding: 5px;
}

.selector-filter {
    min-width: 200px;
}
/* .filters__crime{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
} */

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.criminalsContainer { 
    /* border: red dotted 2px; */
    display: flex;
    /* flex: 2 0 100%; */
    flex-wrap: wrap;
    margin: 50px 50px;
    justify-content: left;
    min-width: 825px;
}


.criminalCard {
    flex: 2 0 25%;
    border: dotted black 2px;
    margin: 20px 20px;
    padding: 8px;
    max-width: 25%;
    min-width: 215px;
}

.crim-card-info {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.crim-card-info > p {
    margin: 2px 0;
}

.noteListContainer { 
    float: left;
    background-color: darkcyan;
    width: 50px;
    height: 400px;
}

footer {
    /* margin: 0; */
    /* padding: 0; */
    height: 100px;
    background-color: lightgrey;
    width: 100%;
}


footer { 
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
}

footer div p {
    /* flex: 2 0 25%; */
    margin: 0 20px;


}
